colossalai==0.3.6
accelerate==0.29.3
diffusers==0.27.2
ftfy
gdown
mmengine==0.10.3
pre-commit
pyav
tensorboard
timm
tqdm
transformers==4.40.0
wandb
gradio==4.27.0
spaces
opencv-python==4.9.0.80
netvision